<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.site.siteproject">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:name=".utils.GlobalClass"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainSplash"
            android:screenOrientation="landscape"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            />

        <activity android:name=".vrgrand.Splash"
            android:screenOrientation="landscape"
            />


        <activity android:name=".vrgrand.DashBoard"
            android:screenOrientation="landscape"
            />

        <activity android:name=".vrgrand.fragments.ContactUS"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"

            />

        <activity android:name=".AboutUs"
            android:screenOrientation="landscape"
            />
        <activity android:name=".FullScreenViewPager"
            android:screenOrientation="landscape"
            />
    </application>

</manifest>